<% if @user.errors.any? %>
	<div class="error">
		<div class="alert alert-danger">
			the form contails <%= pluralize(@user.errors.count, "error") %>
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>